@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(125 125 125) #f3f4f6;
  }
  *::-webkit-scrollbar {
    @apply w-2 h-2 bg-transparent;
  }
  *::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full hover:bg-gray-500;
  }
}

/* Add this at the very bottom of your file */
.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}